<nav class="navbar bg-success">
  <div class="container">
    <div class="d-flex justify-content-center w-100">
        <a class="navbar-brand " href="#">
          <img src="/carrito.png" alt="Bootstrap" width="64" height="64">
        </a>
    </div>
  </div>
</nav>