<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modalContent" style="display: none;">
                    <div class="d-flex justify-content-center"><img src="{{imagen}}" alt="{{nombre}}" class="img-fluid"></div>
                    <h4>{{nombre}}</h4>
                    <p>{{descripcion}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-secondary btnCerrarModal" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>